[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
install = "*"
grpcio = "*"
cryptography = "~=3.4.4"
pyspiffe = {editable = true, git = "https://github.com/HewlettPackard/py-spiffe"}

[dev-packages]

[requires]
python_version = "3.9"
